<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action='/result' method='post'>
        <ul>
            <li>
                Full Name:
                <input type="text" name="full_name" id="full_name">
            </li>
            <li>
                Dojo Location:
                <select name="dlocation" id="dlocation">
                    <option value="San Francisco">San Francisco</option>
                    <option value="Los Angeles">Los Angeles</option>
                </select>
            </li>
            <li>
                Favorite Language:
                <select name="language" id="language">
                        <option value="Python">Python</option>
                        <option value="HTML">HTML</option>
                </select>
            </li>
            <li>
                Comment (optional):
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            </li>
            <li>
                <input type="submit" value="Submit">
            </li>
        </ul>
    </form>
</body>
</html>